/*
COLORES:
main cafe: #21160f
main crema: #e0ad89

cafe claro1: #3b2a1f
cafe claro2: #523f32
*/

#root {
  min-height: 100vh;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  --cafe: #21160f;
  --crema: #e0ad89;
  --cafe2: #3b2a1f;
  --cafe3: #523f32;
}

body.light-theme {
  --background-color: #e0ad89;
  --border-color: #21160f;
  --font-color: #21160f;
  --element-color: #21160f;
  --main2: #b88e70;
  --main3: #6e523f;
  --filter: invert(0%);
}

body.dark-theme {
  --background-color: #21160f;
  --border-color: #e0ad89;
  --font-color: #e0ad89;
  --element-color: #e0ad89;
  --main2: #3b2a1f;
  --main3: #523f32;
  --filter: invert(100%);
}

.login {
  display: flex;
  height: 100vh;
}

.options {
  width: 6%;
  padding: 2.5rem;
}

.login > div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

.form-login {
  padding: 2.5rem;
  width: 47%;
}

.form-login > form > h1 {
  color: var(--font-color);
  font-weight: bolder;
  font-size: 3.5rem;
  margin-bottom: 2.8rem;
  margin-top: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32rem;
  height: 42rem;
  padding: 3rem;
  border-radius: 3rem;
  border: 0.8rem solid var(--border-color);
  box-shadow: 0rem 0rem 5rem rgba(88, 51, 25, 0.671);
}

.input-group {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 1.7rem;
}

.input-group label {
  display: block;
  color: var(--font-color);
  margin-bottom: 0.6rem;
}

.input-group input {
  width: 85%;
  border-radius: 1rem;
  border: 0.3rem solid var(--main3);
  outline: 0;
  font-size: 1.7rem;
  background-color: var(--main2);
  padding: 0.75rem 1rem;
  color: var(--font-color);
}

.passwordinput {
  margin-bottom: -0.6rem;
}

.userinput {
  margin-bottom: 0.7rem;
}

.input-group input:hover {
  border-color: var(--cafe3);
  background-color: var(--cafe3);
}

.input-group input:focus {
  border-color: var(--border-color);
  background-color: var(--main3);
}

.forgot {
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.forgot > a {
  color: var(--font-color);
}

.forgot > a:hover {
  color: var(--font-color);
  font-weight: bolder;
}

.registrar {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.registrar > a {
  color: var(--font-color);
}

.forgot > a:hover {
  color: var(--font-color);
  font-weight: bolder;
}

.submit {
  font-family: "Josefin Sans", sans-serif;
  background: var(--main2);
  border: none;
  height: 4.6rem;
  border-radius: 1rem;
  color: var(--font-color);
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 63%;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  padding: 1.8rem;
}
.submit:hover {
  background: var(--element-color);
  color: var(--background-color);
}

.giticon {
  height: 5rem;
  filter: var(--filter);
  transform: scaleX(1.07);
}

.info-login {
  padding: 2.5rem;
  width: 47%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: end;
  width: 32rem;
  height: 42rem;
  padding: 3rem;
  border-radius: 3rem;
  border: 0.8rem solid var(--border-color);
  box-shadow: 0rem 0rem 5rem rgba(88, 51, 25, 0.671);
}

.info > h1 {
  color: var(--font-color);
  font-weight: bolder;
  font-size: 4.3rem;
  margin: 1rem;
}

.info > h2 {
  color: var(--font-color);
  font-size: 2.9rem;
  margin: 1rem;
}
