/*
COLORES:
main cafe: #21160f
main crema: #e0ad89

cafe claro1: #3b2a1f
cafe claro2: #523f32
*/

#root {
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  --cafe: #21160f;
  --crema: #e0ad89;
  --cafe2: #3b2a1f;
  --cafe3: #523f32;
}



.login {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login > div {
  flex: 1; /* ambas columnas ocupan el mismo espacio */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11rem;
  box-sizing: border-box;
}

.form-login {
  background-color: #21160f;
  padding: 2.5rem;
}

.form-login > form >  h1 {
    color:#e0ad89;
    font-weight: bolder;
    font-size: 3.5rem;
    margin-bottom: 2.8rem;
    margin-top: 0.5rem; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #21160f;
  width: 32rem;
  height: 42rem;
  padding: 3rem;
  border-radius: 3rem;
  border: 0.8rem solid #e0ad89;
  box-shadow: 0rem 0rem 5rem rgba(88, 51, 25, 0.671);
}

.input-group {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 1.7rem;
}

.input-group label {
  display: block;
  color: #e0ad89;
  margin-bottom: 0.6rem;
}

.input-group input {
  width: 85%;
  border-radius: 1rem;
  border: 0.3rem solid #523f32;
  outline: 0;
  font-size: 1.7rem;
  background-color: #3b2a1f;
  padding: 0.75rem 1rem;
  color: #e0ad89;
}

.passwordinput {
  margin-bottom: -0.6rem;
}

.userinput {
  margin-bottom: 0.7rem;
}

.input-group input:hover {
  border-color: var(--cafe3);
  background-color: var(--cafe3);
}

.input-group input:focus {
  border-color: #e0ad89;
  background-color: var(--cafe3);
}

.forgot {
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.forgot > a{
    color: var(--crema);
}

.forgot > a:hover{
    color: var(--cafe3);
    font-weight: bolder;
}

.registrar {
  text-decoration: none;
  color: var(--crema);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.registrar > a{
    color: var(--crema);
}

.forgot > a:hover{
    color: var(--cafe3);
    font-weight: bolder;
}


.submit {
  font-family: "Josefin Sans", sans-serif;
  background: #3b2a1f;
  border: none;
  height: 4.6rem;
  border-radius: 1rem;
  color: var(--crema);
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 63%;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  padding: 1.8rem;
}
.submit:hover {
  background: var(--crema);
  color: var(--cafe)
}

.giticon{
  height: 5rem;
  filter: invert(100%);
  transform: scaleX(1.07);

}



.info-login {
  background-color: var(--crema);
  padding: 2.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: var(--crema);
  text-align:end ;
  width: 32rem;
  height: 42rem;
  padding: 3rem;
  border-radius: 3rem;
  border: 0.8rem solid var(--cafe);
  box-shadow: 0rem 0rem 5rem rgba(88, 51, 25, 0.671);
}

.info > h1 {
    color: var(--cafe);
    font-weight: bolder;
    font-size: 4.3rem;
    margin: 1rem;
}

.info > h2 {
    color: var(--cafe2);
    font-size: 2.9rem;
    margin: 1rem;
}
