
nav {
  background-color: #121524; /* tono oscuro variante */
  padding: 1rem 2rem;
  display: flex;
  gap: 8rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  justify-content: center;
 
}

nav a {
  color: #e8502a;
  font-size: 2.5rem;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bolder;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #e8502a; /* tono lila más claro en hover */
}
