body.light-theme {
  --background-color: #e0ad89;
  --border-color: #21160f;
  --font-color: #21160f;
  --element-color: #21160f;
}

body.dark-theme {
  --background-color: #21160f;
  --border-color: #e0ad89;
  --font-color: #e0ad89;
  --element-color: #e0ad89;
}

body {
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

.theme {
  position: relative;
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0rem 0rem 2rem rgba(88, 51, 25, 0.671);*/
  width: 100px;
  height: 3rem;
}

.switch-label {
  position: absolute;
  width: 4rem;
  height: 100%;
  background-color: var(--cafe);
  border-radius: 3rem;
  cursor: pointer;
  border: 0.75rem solid var(--element-color);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--crema);
}

.slider::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-box-shadow: inset 13px -4px 0px 0px var(--crema);
  box-shadow: inset 17px -4px 0px 0px var(--crema);
  background-color: var(--cafe);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateY(5rem);
  -ms-transform: translateY(5rem);
  transform: translateY(5rem);
  background-color: var(--cafe);
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 700px) {
  .theme {
    position: relative;
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0rem 0rem 2rem rgba(88, 51, 25, 0.671);*/
    width: 100px;
    height: 0.7rem;
  }

  .switch-label {
    position: absolute;
    width: 3rem;
    height: 100%;
    background-color: var(--cafe);
    border-radius: 3rem;
    cursor: pointer;
    border: 0.5rem solid var(--element-color);
  }

  .checkbox {
    position: absolute;
    display: none;
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .checkbox:checked ~ .slider {
    background-color: var(--crema);
  }

  .slider::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    -webkit-box-shadow: inset 10px -4px 0px 0px var(--crema);
    box-shadow: inset 10px -4px 0px 0px var(--crema);
    background-color: var(--cafe);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateY(3.7rem);
    -ms-transform: translateY(3.7rem);
    transform: translateY(3.7rem);
    background-color: var(--cafe);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
